.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    text-align: start;
    display: flex;
    align-items: flex-end;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 928px) {
  .place__title {
    font-size: 58px;
    line-height: 106%;
  }
}

  @media screen and (max-width: 768px) {
    .place__title {
      font-size: 42px;
      line-height: 46px;
    }
  }

  @media screen and (max-width: 480px) {
    .place__title {
      font-size: 32px;
      line-height: 35px;
      margin-left: 16px;
    }
  }