.header__langs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 46px;
    margin-right: 48px;
}

@media screen and (max-width: 768px) {
    .header__langs {
        margin-right: 24px;
    }  
}

@media screen and (max-width: 320px) {
    .header__langs {
        margin-top: 24px;
        margin-right: 16px;
        
    }  
}