.cover__title {
max-width: 560px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;
margin: 0 auto 0;
opacity: 1;
margin-block-start: 0;
margin-block-end: 0;
}

@media screen and (max-width: 768px) {
    .cover__title {  
        font-size: 9.3vw;
        line-height: 9.9vw;
    }
  }

  @media screen and (max-width: 320px) {
    .cover__title {  
        font-size: 32px;
        line-height: 35px;
    }
  }