.cover__title {
max-width: 560px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;
margin: 0 auto 0;
opacity: 1;
}

@media screen and (max-width: 320px) {
    .cover__title {  
        font-size: 32px;
        line-height: 109%;
    }
  }