.place__url-heading {
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {
    .place__url-heading {
      margin-left: 16px;
    }
  }